body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url('../images/favicon.png');
    background-repeat: no-repeat;
    background-size: contain;
}